<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MRP.Properties.Settings.Db" connectionString="Data Source=AP;Initial Catalog=MRP;Persist Security Info=True;User ID=MRP;Password=intmain"
            providerName="System.Data.SqlClient" />
        <add name="MRP.Properties.Settings.MRPConnectionString" connectionString="Data Source=AP;Initial Catalog=MRP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>